
* {
    --bs-body-bg: #323232;
    --bs-body-color: #000000;
    --bs-secondary: #323232;
    --bs-primary: #ff5400;
    scroll-behavior: smooth;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff5400;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff8000;
    --bs-btn-hover-border-color:  #ffa700;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff5400;
    --bs-btn-active-border-color: #ffa700;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #a03c00;
    --bs-btn-disabled-border-color: #a03c00;
}
h1,h2,h3,h4,h5,h6,label,.btn, span {
    font-family: Monospaced, monospace  ;
}
label {
    font-family: Helvetica Neue, sans-serif;
    color: #f0edee;
    font-size: medium;
}


h1, h2, h3{
    color: #f0edee;
}
p{
    color: #f0edee;
}
a,span {
    text-decoration: none;
    color: #f0edee;
}
a:hover{
    color:#ff5400
}

.invalid-feedback {
    display: block;
}

/*MISE EN FORME DU FOOTER*/
footer{
    margin-top: 5em;
}




