@import url("review.css");

.top_wallpaper{
    background-image: url("https://www.gamewallpapers.com/wallpapers_slechte_compressie/wallpaper_hunt_showdown_01_1920x1080.jpg");
    background-position-y: -18vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    /*banner transformation*/
    clip-path: polygon(0 0, 0 80%, 100% 100%, 100% 25%, 100% 0);
}

/* CSS GAMELIST*/
.card-section{
    margin-top: 3vh;
}
.card{
    width: 20vw;
    height:31vh;
    box-shadow: 6px 2px 50px 4px rgba(0, 0, 0, 0.68);
    background:#3E3E3b;
    border:none;
    color: #f0edee;
    cursor: hand;
    border-radius: 0.5em;
}
.modstatus{
    font-size: 0.816em;
}

.card-header{
    font-family: Monospaced, monospace;
    font-size: 1.16em;
    background-color: #2c3034;
}
.blockquote{
    margin-top: 2em;
    font-family: Monospaced, sans-serif  ;
    font-size: 1em;
}
.blockquote > footer{
    padding-top: 1vh
;
}


/*HOVER SPECIFIC ELEMENT INTERACTION*/
.slide_diagonal:hover {
    animation-timing-function: ease-in;
    border-radius: 2%;
    box-shadow: inset 400px 50px 0 0 rgba(0,0,0,0.68);
    transform: scale(1.1);
    transition: scale 50ms linear 50ms, transform 150ms ease-in-out 100ms;
}
/*HOVER GENERAL INTERACTION*/
.sibling-fade {
    margin-top: 67vh;
    visibility: hidden;}
/* Prevents :hover from triggering in the gaps between items also used to increase the margin to fit with the banner */
.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */
.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */
/*.sibling-fade:hover > * { opacity: 0.2; }*/
/* Fade out all items when the parent is hovered */
.sibling-fade > .slide_diagonal:hover { opacity: 1; transform: scale(1.1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */


/*CCS TOP4*/
.top4header{
    padding-top: 2em;
}
.top4bg{
    width: 15vw;height:45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 6px 11px 29.3px 4px rgba(0,0,0,0.68);
}
.filter >.excel{
    padding-left: 2em;
    margin-top: 1em;
    align-self: center;
    font-variant-caps: all-small-caps;
}

.sort-filter {
    color: #fff;
}

/*CSS FOOTER*/
footer{
    padding-top: 4em;
}



