
.navbar {
    height: 5em;
    background-color: rgba(29,29,29,.50);
}
.logo{
    padding-top: 1em;
}

.menu-link {
    color: #f0edee;
    /*font-variant-caps: all-petite-caps;*/
    font-variant: diagonal-fractions;
}

.logged-user {
    color: #ff4020;
    font-size: 1.1em;
}

.security-icon {
    color: #ff4020;
    padding-right: 1em;
}

.welcome_message {
    border-radius: 50em;
    padding: 0.2em 1em 0.2em 1.5em;
    margin-right: 1em;
    color: #ff4020;
}

.welcome_message > form {
    margin-top: 0.8em;
}

.subspan {
    font-style: italic;
    text-decoration-style: solid;
}
.nav-item>a:hover {
    opacity: 90%;
    transform: scale(1.05);
}
.btn-link,
.link-if {
    text-decoration: none;
    color: #fff;
}

.btn-link:hover,
.nav-link:hover,
.link-if:hover {
    color: var(--bs-primary);
}

.admin_access{
    color: #DBC518;
}

.nav-item>a:hover {
    opacity: 90%;
    transform: scale(1.05);
}
.admin-access:hover{
    opacity: 90%;
    transform: scale(1.05);
}







